@import url(/blocks1/header/header.css);
@import url(/fonts/fonts.css);
@import url(/blocks1/lead/lead.css);
@import url(/blocks1/intro/intro.css);
@import url(/blocks1/photo-grid/photo-grid.css);
@import url(/blocks1/places/places.css);
@import url(/blocks1/cover/cover.css);
@import url(/blocks1/footer/footer.css);

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #2A2C2F;
}